@use './partials/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Golos Text', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none !important;

    &:hover {
        color: $text-color !important;
    }
}

.ms_container {
    background-color: $background-color;
}

.ms_primary-button {
    background-color: $secondary-color;
    color: $text-color;
    border-radius: 20px;
    border: 2px solid $secondary-dark-color;
    padding: 10px 18px;
    font-size: 26px;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 10px 15px rgba($color: #000000, $alpha: 0.5);
    }
}